@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto_Regular";
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
body {
  background-color: hsl(235, 18%, 26%);
}

#container {
  display: flex;
  border-radius: 2em;
  flex-direction: column;
  padding: 5em;
  padding-right: 7.1em;
  padding-left: 3.5em;
  width: 49%;
  height: 65%;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
}

.info {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5em;
  flex-wrap: wrap;
}
.main {
  height: 94vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  display: flex;
  align-self: flex-end;
}
svg {
  box-sizing: border-box;
  width: 55%;
  height: 70em;
  display: flex;
  margin-bottom: 2em;
}
.right svg {
  max-height: 100vh;
  width: 23em;
  height: 40em;
}

.title {
  font-family: Roboto;
  font-size: 4.3vw;
  font-weight: 200;
  color: hsl(234, 29%, 20%);
  padding-bottom: 0.2em;
}

.message {
  font-family: Roboto_Regular;
  font-size: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
}

label {
  font-family: Roboto;
}

input {
  height: 3em;
  border-radius: 0.5em;
  border-width: 1px;
  border-color: rgb(233, 227, 227);
  border-style: solid;
}

.bullets {
  padding: 0;
  font-family: Roboto_Regular;
  font-size: 16px;
  list-style-type: none;
}

.bullets li::before {
  content: url(./assets/images/icon-list.svg);
  margin-right: 0.5em;
}
ul {
  margin: 0;
}

li {
  margin-bottom: 0.5em;
}

button {
  font-family: Roboto;
  background-color: hsl(234, 29%, 20%);
  color: white;
  height: 3em;
  border-radius: 0.5em;
  border-style: none;
}

button:hover {
  cursor: pointer;
  background-color: hsl(4, 100%, 67%);
}

.signup {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  width: 90%;
}

#email::placeholder {
  font-family: Roboto_Regular;
  font-size: 16px;
  padding: 1em;
}

.attribution {
  font-family: Roboto_Regular;
}
#validation {
  font-family: Roboto;
}

.topOfBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
  font-size: 13px;
}

input[type="text"] {
  font-family: Roboto_Regular;
  font-size: 16px;
  padding-left: 1em;
}

#thank-you-message {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 27%;
  height: 49vh;
  padding: 3em;
  border-radius: 1.5em;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bullet {
  content: url(./assets/images/icon-list.svg);
  width: 15%;
  height: 15%;
  margin-bottom: 1.5em;
}

.container1 {
  display: flex;
  justify-content: center;
}

.subscribed {
  font-family: Roboto;
  font-size: 3.3vw;
  margin: 0;
  color: hsl(234, 29%, 20%);
}

.confirmation {
  font-family: Roboto_Regular;
  font-size: 16px;
}

#dismiss {
  width: 100%;
}
